<!doctype html>
<html ng-app="ugryzSzczescie">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<link rel="stylesheet" href="./style.css" />

      
      
    <script src="main.js"></script>
	<meta charset="UTF-8">
  </head>
  <body  ng-controller="MenuController as menuController">
       
<div class=" row header">
    <img src="images1.png" alt="ogryzek" width="70px" height="70px"/>
    
    <h1><b>Ugryź szczęście</b></h1>
   
    </div>
      
      
      <div class="container">
    
         
         
         
    <marquee behavior="alternate"><img src="hot.jpg" alt="papryka" width="40px" height="40px"><img src="hot.jpg" alt="papryka" width="40px" height="40px"><img src="hot.jpg" alt="papryka" width="40px" height="40px"></marquee>
    
    
    
    <div>
	 <form ng-submit="menuController.createMenu()">
         
         
        <div class="row">
		  <label>Wiek:</label>
		  <input type="text" ng-model="menuController.age" placeholder="Wiek w latach" required min = "12" max = "120">
            
         <label>Wzrost:</label>
		  <input type="text" ng-model="menuController.height" placeholder="Wzrost w centymetrach" required min = "120" max = "220">
         

          <label>Waga:</label>
		  <input type="text" ng-model="menuController.weight" placeholder="Waga w kilogramach" required min = "30" max = "160">

         </div>
         
         
         <div class="row">
                          
              <label>Płeć:</label>
         <select name="sex" ng-model="menuController.sex" placeholder="Płeć" required>
             <option value="woman">kobieta</option>
             <option value="man">mężczyzna</option>
         </select>
          
		  
          <label>Styl życia:</label>
         <select name="activity" ng-model="menuController.activity" placeholder="Dominujący styl życia">
              <option value = "1.0">1 siedziący</option>
              <option value = "1.2">2 styl normalny</option>
              <option value = "1.4">3 styl aktywny</option>
              <option value = "1.6">4 praca fizyczna</option>
              <option value = "1.8">5 sport wyczynowy</option>
         </select>
		  
          <label>Rodzaj diety:</label>
         <select name="diet" ng-model="menuController.diet" placeholder="Rodzaj diety">
             <option value="slim">odchudzająca</option>
             <option value="muscle">na mase mięśniową</option>
         </select>

         </div>
         
         
         <div class="row">
          <label>Dodatkowe preferencje:</label>
         <select name="preferences" ng-model="menuController.preferences" placeholder="Dodatkowe preferencje">
              <option value="none">brak</option>
              <option value="nomeat">bez mięsa</option>
              <option value="vege">bez produktów zwierzęcych</option>
         </select>
		  <hr>
         
		  <button type="submit">Twórz jadłospis</button>
         </div>
         
	  </form>
        
	  <hr>
	  <span>{{menuController.message}}</span>
        <div>Twoje zapotrzebowanie {{menuController.calories}}&nbsp;kcal</div>
	  <ul class="unstyled">
        <li ng-repeat="weekDay in menuController.menu">          
            <h3>{{weekDay.name}}</h3>
				<ul class="unstyled">
					<li ng-repeat="meal in weekDay.meals">          
						<span><b>{{meal.name}}</b>, ilość kalorii: {{meal.calories}}, limit kalorii: {{meal.caloriesLimit}}</span>
						<ul class="unstyled">
							<li ng-repeat="product in meal.products track by $index">          
								<span>{{product.name}}, ilość kalorii: {{product.calories}}, waga: {{product.weight}}, ilość sztuk: {{product.quantity}}</span>
								
							  
							</li>
						  </ul>
						<br/>
					</li>
				</ul>          
        </li>
      </ul>

    </div>
          
          
          
          
</div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

		<!-- Latest compiled and minified JavaScript -->

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<script src="./main.js"></script>
        <script src="./dania.js"></script>
  </body>
</html>