body {
    background: #ffffff url('./owoce2.jpg') repeat;
    width: 100%;
    margin: 10px;
    font-family: "Times New Roman", Georgia, Serif;
}
.row header {
    display: block;
    position: relative;
    top: 0px;
    height: 20px;
    width: 20px;
    padding-left: 10px;
    background: transparent url('./images1.png') no-repeat top left;
    
}
h1 b {
    top: -85px;
    left: -465px;
    font-size: 45pt;
    display: block;
    position: relative;
    text-align: center;
              
    
}

.container{
    background-color: rgba(253,0,0,0.4);
    padding-top: 10px;
    display: block;
    text-align: center;
    border: 1px solid black;
    float: left;
    color: black;
    font-size: 12pt;
    border-radius: 40px 40px 40px 40px;
    top: 45px;
}

.row{
    height: 100px; 
    
}

ul {
list-style-type: none;
}
        